DirectoryIndex index
ErrorDocument 404 /not-found.php

AddDefaultCharset UTF-8

Options -Indexes

Options +MultiViews

IndexIgnore *.php

RewriteEngine On

RewriteRule ^home?$ index.php [L]
RewriteRule ^korpusni-mebli-na-zamowlenia?$ index.php?home [L]
RewriteRule ^mebli-w-dytiachu?$ index.php?p=children [L]
RewriteRule ^mebli-kuchenni?$ index.php?p=kitchen [L]
RewriteRule ^matrasy?$ index.php?p=mattresses [L]
RewriteRule ^ofisni-mebli?$ index.php?p=office [L]
RewriteRule ^szafy-kupe?$ index.php?p=cabinets [L]
RewriteRule ^mebli-dla-spalni?$ index.php?p=bedroom [L]
RewriteRule ^stinki?$ index.php?p=others [L]

ErrorDocument 404 http://west-mebli.com.ua/404.html
ErrorDocument 403 http://west-mebli.com.ua/403.html

#
# EXPIRES CACHING ##
<IfModule mod_expires.c>
<FilesMatch "\.(jpg|jpeg|png|gif|swf|JPG)$">
   Header set Cache-Control "max-age=4838400, public"
</FilesMatch>
<FilesMatch "\.(css|js)$">
   Header set Cache-Control "max-age=4838400, private"
</FilesMatch>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType text/x-javascript "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresDefault "access plus 2 days"
</IfModule>
## EXPIRES CACHING ##


